 <div class="container-fluid" id="title">
    <div class="row">
        <div class="col-md-12">
             <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">Dude, Wheres My Dog?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Report</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href=""> Sign In</a>
           </li>
          </ul>
        </div>
    </nav>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-6">
            <h1> Find your lost dog/cat and reunite with them now!</h1>
            <button type="button" class="btn btn-dark btn-lg"><i class="fab fa-apple"></i> Download</button>
            <button type="button" class="btn btn-outline-light btn-lg"><i class="fab fa-google-play"></i>Download</button>
        </div>
        <div class="col-lg-6">  
            <div class="hurt col-lg-6">
            <img src="/styles/images/find dog.jpeg" alt="fnd my dog">
            </div> 
        </div>
        
     </div>
</div>

 <!-- Found Animal Form -->

  <section id="testimonials">

    <div class="container">
        <h2>Found Animal Form</h2>
        <form class="form-horizontal" method="POST" action="/Lost_Animals/create">
         <label class="control-label col-sm-2">Animal Name:</label>
         <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter Name" name="name">
            </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <label class="control-label col-sm-2">Species:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter Species" name="species">
            </div>
          </div>
            <label class="control-label col-sm-2">Breed:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter breed" name="breed">
            </div>
            <label class="control-label col-sm-2">Color:</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" placeholder="Enter color" name="color">
            </div>
            <label class="control-label col-sm-2">Description:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter description" name="description">
            </div>
            <label class="control-label col-sm-2" >Found When</label>
            <div class="col-sm-10">          
              <input type="date" class="form-control" placeholder="Enter lost at" name="date">
            </div>
            <label class="control-label col-sm-2" >Zip Code</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" placeholder="Zip Code" name="zip  ">
            </div>
            <label class="control-label col-sm-2">Found Where (City)</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="lost where" name="where">
            </div>
            <label class="control-label col-sm-2">Picture</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Photo Url" name="picture">
            </div>   
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>
      </div>

  </section>